*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    /* background-color: hsl(300, 43%, 22%); */
    font-family: 'Work Sans', sans-serif;
}

.head-con .contanier{
    display: grid;
    width: 1140px;
    grid-template-columns: repeat(auto-fill,minmax(calc(1140px / 2),1fr));
}
.head-con .contanier .right-side h1{
    color: hsl(300, 43%, 22%);
    font-weight: bolder;
    font-size: 42px;
}
.head-con .contanier .right-side p{
    font-size: 15px;
    line-height: 1.6;
    color:  hsl(303, 10%, 53%);
}
.head-con .contanier .left-side{
    display: grid;
    grid-template-rows: repeat(3,auto);
}
.head-con .contanier .left-side .one,
.head-con .contanier .left-side .tow,
.head-con .contanier .left-side .three{
    background-color: hsl(300, 24%, 96%);
    height: 50px;
    width:70%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.head-con .contanier .left-side p{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.head-con .contanier .left-side img{
    width: 20px;
    height: 20px;
}
.head-con .contanier .left-side .tow{
    margin-left: 10%;
}
.head-con .contanier .left-side .three{
    margin-left: 20%;
}
.bottom-contain{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(calc(1000px / 3 ),1fr));
    grid-column-gap: 10px;
    
}
.bottom-contain img{
    border-radius: 50%;
    margin-top: 15px;
    width: 50px;
}
.bottom-contain .customer .head h3{
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
    color: white;
    font-size: 18px;
}
.bottom-contain .customer .head h3 span{
    color: hsl(333, 80%, 67%) ;
}

.bottom-contain .customer {
    background-color: hsl(300, 43%, 22%);
    height: 250px;
}
.bottom-contain .customer .text{
    margin-top: 30px;
}
.bottom-contain .customer .text p{
    line-height: 1.6;
    color: white;
    font-weight: 700;
}
.bottom-contain .tow{
    margin-top: 10%;
}
.bottom-contain .three{
    margin-top: 20%
}
@media (max-width:767px) {
    .head-con .contanier{
        display: grid;
        width: 320px;
        grid-template-rows: repeat(auto-fill,minmax(calc(1140px / 2),1fr));
    }
}