*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif;
}
.contanier{
    padding: 20px 30px;

}
main{
    padding: 20px 40px;
}
.contain .head-con{
    display: flex;
}
.contain .head-con .card{
    width: 420px;
}
.contain .head-con .card h1{
    color: hsl(300, 43%, 22%);
    font-weight: 900;
}
.contain .head-con .card p{
    color: hsl(303, 10%, 53%);
    line-height: 1.5;  
}
.contain .head-con .review-card{
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contain .head-con .review-card .rate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 40px;
    border-radius:18px ;
    background-color:hsl(300, 24%, 96%) ;
    padding: 30px 40px
    
}
.contain .head-con .review-card .rate p{
    margin-left: 30px;
}
.contain .head-con .review-card .rate:nth-child(2){
    margin-left: 10%;
}
.contain .head-con .review-card .rate:nth-child(3){
    margin-left: 20%;
}
.contain .bottom-con{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.contain .bottom-con .card{
    background-color: hsl(300, 43%, 22%);
    /* padding: 40px 30px;   */
    width: calc(90% / 3);
    border-radius: 8px;
    height: 260px;
}
.contain .bottom-con .card img{
    border-radius: 50%;
    width: 60px;
}
.contain .bottom-con .card h2{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 30px;
}
.contain .bottom-con .card h2 span{
    color: hsl(303, 10%, 53%);
}
.contain .bottom-con .card p{
    color: white;
    font-size: 15px;
    line-height: 1.5;
}
.contain .bottom-con .card:nth-child(2){
    margin-top: 2%;
}
.contain .bottom-con .card:nth-child(3){
    margin-top: 4%;
}
@media (max-width:768px) {
    .head-con{
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .contain .head-con .card {
        justify-content: center;
        text-align: center;
        width: 350px;
    }
    .contain .head-con .review-card{
        margin-left: 0;
        margin-top: 20px;
    }
    .contain .head-con .review-card .rate{
        width: 340px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .head-con .review-card .rate.rate:nth-child(2){
        margin-left: 0;
    }
    .head-con .review-card .rate.rate:nth-child(3){
        margin-left: 0;
    }
    .contain .bottom-con {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contain .bottom-con .card {
        width:320px;
        display: flex;
        flex-direction: column;

    }
}